body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}

div {
    display: flex;

}

h1 {
    font-size: 30px;
    color: rgb(162, 0, 89);
}

h2 {
    font-size: 20px;
    color: rgb(101, 2, 56);
}

p {
    font-size: 20px;
    margin: 10px 0 0 0;
}

a {
    text-decoration: none;
}

.pagina {
    flex-direction: column;
    margin: 0 30px;
    padding-top: 30px;
}

.principal {
    padding: 30px 30px;
    border-radius: 20px;
    background: rgb(246,63,251);
    background: radial-gradient(circle, rgba(246,63,251,0.12088585434173671) 0%, rgba(155,70,252,0.06486344537815125) 100%);
}

.menuTopo {
    justify-content: center;
    background-color: rgba(70, 29, 52, 0.928) ;
    padding: 10px 10px;
    font-size: 20px;
}

.menuTopoItem {
    margin: 5px 10px;
    text-decoration: none;
    color: #fff;  
}

.menuTopoItem:hover {
    color:rgb(218, 155, 193);
}

.principalFoto {
    border-radius: 20px;
    width: 200px;
    height: 250px;
}

.principal {
    flex-direction:row;
    margin: 20px 20px;
}

.principal-resumo {
    flex-direction: column;
    margin-left: 20px;
}

.trajetoria {
    align-items: flex-end;
    justify-content:flex-end;  
    margin-top: 30px;
}

.subMenu {
    flex-direction: column;
    padding: 20px 0;
    font-size: 25px;
}

.subMenu > :nth-child(1) {
    margin: 0 30px 30px 30px;
    border-bottom: 1px solid #000;
}

.subMenu > a {
    font-size: 30px;
    color: rgb(111, 2, 62);
}

.subMenu > a:hover {
        color: rgba(167, 73, 125, 0.776);
}

.subMenu-box {
    justify-content: center;
    align-items: center;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 33%;
    margin: 30px 30px 30px 30px;
}

dt {
    color: rgb(162, 0, 89);
    font-style: oblique;
}

footer {
    text-align: center;
}

.menuEmpresa {
    flex-direction: column;
    margin: 30px 30px;
}

.menuEmpresa-dados {
    justify-content: space-around;
}

.tecnologias {
    flex-direction: column;
    margin: 0 30px;
}

.logos {
    justify-content: space-around;
    margin: 30px 0;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}
/*    */

