body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 18px;
}


.menuTopo {
    display: flex;
    justify-content: center;
    background-color: #282828;
}

.menuTopoItem {
    margin: 5px 10px;
    text-decoration: none;
    color: #fff;  
}

.menuTopoItem:hover {
    color:aquamarine ;
}

.menuTopoItemSelecionado {
    color:red ;
}

.principalFoto {
    border-radius: 10px;
    width: 250px;
    height: 300px;
}

a {
      
}

a:hover{
}

.principal {
    display: flex;
    flex-direction:row;
    margin: 20px 20px;
}

.principal-titulo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}